
.header {
    background-color: #0fbcf9;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brandName {
    font-size: 46px;
}

.nav {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 20px;
}

.icon {
    font-size: 30px;
    color: #FFFFFF;
}