
.header {
    background-color: #0fbcf9;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.brandName {
    font-size: 46px;
}

.nav {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    margin-left: 20px;
    color: #1e272e;
    font-weight: 700;
}