.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
}

.maxWidth {
    width: 100%;
    padding: 10px;

    @media (min-width: 820px) {
        width: 800px;
        padding: 0;
    }
}